<div *ngIf="!menu" style="margin-top: 6px">
  <mat-progress-bar mode="query" color="accent"></mat-progress-bar>
</div>
<lib-central-column *ngIf="menu">
  <div class="topButtons">
    <button mat-raised-button color='primary' (click)="startAssociation()">
      Associati ad un tavolo

    </button>

  </div>

  <div>
    <mat-card-title style="margin-bottom: 32px"> Menù del giorno</mat-card-title>
    <div *ngFor="let element of menu" style="margin-top: 12px">
      <app-menu-readonly [menuElement]="element"></app-menu-readonly>
    </div>
  </div>
</lib-central-column>
