<mat-toolbar color="accent">
  Inserisci i dati per accedere al tavolo
</mat-toolbar>

<div style="display: flex;flex-direction: column;align-items: center;padding: 24px">
  <div style="margin-bottom: 12px">
    <mat-form-field>
      <mat-label>
        Numero tavolo
      </mat-label>
      <input matInput type="number" min="1" [formControl]="number">
      <mat-error>Il campo non è valido</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>
        Codice segreto
      </mat-label>
      <input matInput [formControl]="secretCode">
      <mat-error>Il campo non è valido</mat-error>
    </mat-form-field>
  </div>
  <div style="display: flex;width: 100%; justify-content: end;margin-top: 12px">
    <button color="primary" mat-raised-button (click)="joinTable()">
      Associati al tavolo!
    </button>

  </div>


</div>
