<div *ngIf="!bill">
  <mat-progress-bar mode="query"></mat-progress-bar>
</div>
<div *ngIf="bill && user">
  <lib-central-column>
    <mat-card style="padding: 0">
      <button style="width: 100%" mat-raised-button color="accent" [routerLink]="getMenuUrl()">
        <mat-icon>restaurant_menu</mat-icon>
        Vai al menù
      </button>
      <div style="padding: 16px">
        <mat-card-title>
          <div style="display: flex; align-content: center; align-items: center">
            <mat-icon>table_restaurant</mat-icon>
            Tavolo {{bill.relatedTable.number}}
            <span *ngIf="user.role !== 'CLIENT'" style="margin-left:8px;display:flex;align-content: center; align-items: center;align-self: center">  <mat-icon>pin</mat-icon>
              {{bill.secretCode}}</span>
          </div>

        </mat-card-title>
        <mat-card-subtitle style="margin-top: 6px">
          Siete arrivati alle {{getDateStringFromInstant(bill.openedAt)}}
        </mat-card-subtitle>
        <mat-divider>
        </mat-divider>
        <mat-card-content style="margin-top: 24px">

          <mat-accordion>
            <mat-expansion-panel *ngFor="let course of bill.courses" (opened)="setLastOpen(course.number)" [expanded]="this.lastOpenNumber === course.number">
              <mat-expansion-panel-header style="display: flex">
                <mat-panel-title style="width: max-content">
                  <mat-icon style="margin-right: 8px" color="{{course.isSent ? 'primary' : 'accent'}}">{{course.isSent ? "done" : "forward"}}</mat-icon>
                  Portata {{course.number}} </mat-panel-title>

                <mat-panel-description style="display: flex; justify-content: space-around">
                  <div style="width: 100px">
                    <div *ngIf="!course.isSent">
                      Pronti {{course.readyClients.length}}/{{bill.users.length}}
                    </div>
                    <div *ngIf="course.isSent">
                      Inviata
                    </div>
                  </div>
                  <div>
                    <span *ngIf="user.role ==='CLIENT'">
                    <button mat-flat-button color="accent" [disabled]="course.isSent" (click)="toggleImReady(course,$event)">
                      <span *ngIf="!course.isSent">
                        {{amIReady(course) ? "Pronto" : "Non pronto"}}
                      </span>
                      <span *ngIf="course.isSent">
                        Inviata
                      </span>
                    </button>
                    </span>
                    <span *ngIf="user.role !=='CLIENT'">
                       <button mat-flat-button color="accent" [disabled]="course.isSent" (click)="forceToggleCourse(course,$event)">
                      <span *ngIf="!course.isSent">Pronto per tutti</span>
                      <span *ngIf="course.isSent">Inviata</span>
                       </button>
                    </span>
                  </div>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <div class="border" *ngFor="let keyValue of getDishesGroupedByUsers(course.dishes) | keyvalue" style="margin: 12px">
                <div style="display: flex; width: 100%; justify-content: flex-start;align-items: center;padding-top: 12px;padding-bottom: 12px;padding-left: 12px">
                  <div style="display: flex;align-items: center">
                    <mat-icon style="margin-right: 12px">person</mat-icon>
                    {{keyValue.key}}</div>
                </div>
                <div *ngFor="let dish of keyValue.value" style="width: 100%;display: flex;flex-direction: column">
                  <div>
                    <mat-divider inset="12px"></mat-divider>
                  </div>
                  <div style="width: 90%;display: flex;justify-content: space-between; align-self:center;align-items: center ;padding-left:12px;padding-right: 12px">
                    <div>
                      {{dish.menuElement.name}}
                    </div>
                    <div>
                      {{dish.menuElement.price.toFixed(2)}}€
                      <button mat-icon-button color="warn" [disabled]="course.isSent" *ngIf="checkDishOwner(dish)" (click)="deleteDish(dish)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

            </mat-expansion-panel>
          </mat-accordion>


        </mat-card-content>
      </div>
    </mat-card>

  </lib-central-column>
</div>
